aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
altair==6.1.0
altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.3.0
archspec==0.2.5
arrow==1.3.0
asn1==2.7.0
astc-encoder-py==0.1.12
asttokens==2.4.1
attrs==26.1.0
bidict==0.23.1
blessed==1.20.0
blinker==1.9.0
bpylist2==4.1.1
brotli==1.2.0
bson==0.5.10
cached-property==1.5.2
cachetools==7.0.6
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.3.2
click==8.1.7
clr_loader==0.2.10
cmd2==2.4.3
colorama==0.4.6
coloredlogs==15.0.1
construct==2.10.68
contourpy==1.3.0
cryptography==42.0.7
cycler==0.12.1
daemonize==2.5.0
decompyle3==3.9.3
decorator==5.1.1
dnspython==2.6.1
docutils==0.22.4
editor==1.6.6
email_validator==2.1.1
enum-compat==0.0.3
etcpak==0.9.15
executing==2.0.1
fastapi==0.136.1
fastapi-cli==0.0.4
filetype==1.2.0
fmod_toolkit==0.1.3
fonttools==4.54.1
frozenlist==1.8.0
fsspec==2026.3.0
gitdb==4.0.12
GitPython==3.1.47
gpxpy==1.6.2
h11==0.16.0
hexdump==3.3
httpcore==1.0.9
httptools==0.6.1
httpx==0.27.0
humanfriendly==10.0
idna==3.7
ifaddr==0.2.0
iniconfig==2.3.0
inquirer==3.2.4
ipsw-parser==1.2.3
ipython==8.24.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jinxed==1.2.1
joblib==1.4.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kiwisolver==1.4.7
la_panic==0.4.9
lxml==6.1.0
lxml_html_clean==0.4.4
lz4==4.4.5
lzfse==0.4.2
markdown-it-py==3.0.0
markdown2==2.5.5
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
multidict==6.7.1
mutagen==1.47.0
narwhals==2.20.0
nest-asyncio==1.6.0
netstruct==1.1.2
nicegui==3.10.0
numpy==1.26.4
orjson==3.11.8
packaging==24.0
pandas==2.2.3
parso==0.8.4
pefile==2024.8.26
pillow==12.2.0
pluggy==1.6.0
plumbum==1.8.3
prompt-toolkit==3.0.43
propcache==0.4.1
protobuf==7.34.1
pure-eval==0.2.2
pyarrow==24.0.0
pycparser==2.22
pycrashreport==1.2.3
pycryptodome==3.20.0
pydantic==2.13.3
pydantic-extra-types==2.7.0
pydantic-settings==2.2.1
pydantic_core==2.46.3
pydeck==0.9.2
pydub==0.25.1
pyfmodex==0.7.2
Pygments==2.20.0
pygnuutils==0.1.1
pyimg4==0.8.5
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pykdebugparser==1.2.4
pylzss==0.3.8
pymobiledevice3==1.42.4
pyparsing==3.1.4
pyperclip==1.8.2
pypiwin32==223
pyreadline3==3.4.1
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-dotnet-binaryformat @ file:///C:/Users/copic/Downloads/python-dotnet-binaryformat-master/python-dotnet-binaryformat-master
python-engineio==4.13.1
python-multipart==0.0.26
python-socketio==5.16.1
pythonnet==3.0.5
pytz==2024.2
pyusb==1.2.1
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.1
readchar==4.1.0
referencing==0.37.0
remotezip==0.12.3
requests==2.32.2
rich==13.7.1
rpds-py==0.30.0
runs==1.2.2
scikit-learn==1.5.2
scipy==1.13.0
setuptools==82.0.1
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
smmap==5.0.3
sniffio==1.3.1
spark-parser==1.9.0
stack-data==0.6.3
starlette==1.0.0
streamlit==1.56.0
tenacity==9.1.4
termcolor==2.4.0
texture2ddecoder==1.0.6
threadpoolctl==3.5.0
tkinterdnd2==0.4.3
toml==0.10.2
tornado==6.5.5
tqdm==4.66.4
traitlets==5.14.3
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
ujson==5.10.0
UnityPy==1.25.0
urllib3==2.2.1
uvicorn==0.29.0
vivisect-vstruct-wb==1.0.3
watchdog==6.0.0
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
wsproto==1.2.0
xdis==6.1.8
xmod==1.8.1
yarl==1.23.0
zeroconf==0.132.2
